<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TITU</title>
  <link
    href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css"
    rel="stylesheet"
/>
<link rel="stylesheet" href="stylesheets/style.css">
</head>
<body>
  
   <div class="container">
    <div class="one">
       <h3><i class="ri-loader-line"></i> SHIVI</h3>
    </div>
    <div class="two">
      <a href="/">Home</a>
      <a href="/About">About</a>
      <a href="/Product">Product</a>
      <a href="/FAQs">FAQs</a>
      <a href="/Contact">Contact Us</a>
    </div>
   </div>

   <div class="content">
    <div class="content1">
      <h1>Plants will make your life better</h1>
      <p>Create increadable plant design for your office <br> or apastament Add freshness to your new <br> ideas.</p>
      <button>Explore <i class="ri-arrow-right-down-line"></i></button>
    </div>
    <div class="content2">
      <img src="https://asset.bloomnation.com/c_pad,d_vendor:global:catalog:product:image.png,f_auto,fl_preserve_transparency,q_auto/v1605444634/vendor/3628/catalog/product/2/0/20200304123448_file_5e5ef7a83d33c_5e5ef8e42059c_5f0d10c276fd0_5f0d10c4ea94e.jpg" alt="">
    </div>
   </div>


</body>
</html>