<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link
    href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css"
    rel="stylesheet"
/>
<link rel="stylesheet" href="stylesheets/Product.css">
</head>
<body>

    

   <div class="container">
    <div class="one">
       <h3><i class="ri-loader-line"></i> SHIVI</h3>
    </div>
    <div class="two">
      <a href="/">Home</a>
      <a href="/About">About</a>
      <a href="/Product">Product</a>
      <a href="/FAQs">FAQs</a>
      <a href="/Contact">Contact Us</a>
    </div>
   </div>
   <div class="content">
      <h1>Check out our <br>
           product </h1>
           <p>Here are some selected plants from our showroom all <br>
              are in exellent shape and has a long span. Buy and <br>
               enjoy best quality.</p>
      <img src="https://tse1.mm.bing.net/th?id=OIP.b0ijrq_5zg2C737DZGAx8QHaHa&pid=Api&P=0&h=180" alt="">
      <img src="https://tse3.mm.bing.net/th?id=OIP.efKniuU4ZddfYIkNUDLbggHaJ4&pid=Api&P=0&h=180" alt=""> 
      <img src="https://tse3.mm.bing.net/th?id=OIP.wy3BQFWd3LODlTHf2XiYXwHaHa&pid=Api&P=0&h=180" alt=""> 
   </div>
     
</body>
</html>