
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html, body{
    height: 100%;
    width: 100%;
  }
  
  .container{
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
  }
  
  
  .two{
    display: flex;
    margin-left: 5px;
    gap: 40px;
  }
  
  
  h3{
    font-size: 30px;
    font-weight: bold;
    font-family: sans-serif;
  }
  
  
  a{
    text-decoration: none;
    font-size: 20px;
    margin-top: 10px;
    color: black;
    border-bottom: 2px solid transparent;
    font-family: sans-serif;
  }
  
  
  a:hover{
    border-bottom: 2px solid black;
  }